<div class="footer">
    <button class="button-style width-22per">About us</button>
    <button class="button-style width-22per">Nguồn dữ liệu</button>
    <button class="button-style width-22per">Chính sách quyền riêng tư</button>
    <button class="button-style width-22per">Trợ giúp</button>
</div>