<div class="page-option flex-style margin-bot-24">
    <div class="select-page flex-style">
        <button class="margin-5 cursor-pointer"> 
            <div class="box-item">
                Đầu
            </div>
        </button>
        <button class="margin-5 cursor-pointer"> 
            <div class="box-item">
                <i class="fa fa-arrow-left"></i>
            </div>
        </button>
        <button class="margin-5 cursor-pointer page-box-container">
            <div class="box-item box-item-selected page-box">
                1
            </div>
        </button>
        <button class="margin-5 cursor-pointer page-box-container">
            <div class="box-item page-box">
                2
            </div>
        </button>
        <button class="margin-5 cursor-pointer page-box-container">
            <div class="box-item page-box">
                3
            </div>
        </button>
        <button class="margin-5 cursor-pointer page-box-container">
            <div class="box-item page-box">
                4
            </div>
        </button>
        <button class="margin-5 cursor-pointer right-box-container">
            <div class="box-item">
                <i class="fa fa-arrow-right"></i>
            </div>
        </button>
        <button class="margin-5 cursor-pointer right-box-container">
            <div class="box-item">
                Cuối
            </div>
        </button>
    </div>
</div>