<link rel="stylesheet" href="/css/user.css">
<div class="search-container ">
    <div class="search-result-container line-heigh-15 flex-style ">
        <div class="padding-16 flex-style login-container flex-column">
            <h1 class="txt-align margin-bot-24">Quên mật khẩu</h1>
            <form action="/user/login" method="POST">
                <div class="flex-style margin-bot-24">
                    <input type="email" id="email" name="email" placeholder="Email" class="input-sphsearch flex-grow-1">
                </div>
                <div class="flex-style">
                    <input type="submit" value="Xác nhận" class="flex-grow-1 login-btn">
                </div>
            </form>
        </div>
    </div>
</div>
